.eggs/
.venv/
.venv3.12/
build/
dist/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.a
*.lib
*.lib
.eggs/
.pytest_cache/
aiortc
tests/received_audio.wav
**/node_modules
e2e/logs/
**/.DS_Store
.DS_Store
e2e/received_audio.wav
e2e/py-client/received_audio.wav
al.log
